[package]
name = "convenient-bitbake"
version = "0.1.0"
edition = "2021"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0.217", features = ["derive"] }
tracing = "0.1.40"
walkdir = "2.5.0"
regex = "1.10.0"
url = "2.5.0"
thiserror = "1.0.50"
glob = "0.3.1"

# Rowan for resilient CST parsing (rust-analyzer approach)
rowan = "0.15.15"
logos = "0.14.0"


[dev-dependencies]
tracing-test = "0.2.4"
tempfile = "3.8.0"
